<div id="<%= dom_id link %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= link.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Url:</strong>
    <%= link.url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= link.user_id %>
  </div>
</div>
